#make-comment-wrapper {
    display: flex;
    flex-direction: column;
    justify-self: flex-start;
    align-self: flex-start;
}

#make-comment-wrapper form {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap:1rem; */
}
#make-comment-wrapper form #comment-input{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#make-comment-wrapper form label {
    justify-self: flex-start;
    align-self: flex-start;
}

#make-comment-wrapper form input{
    padding: 3px;
}
#form-make-comment-body {
    margin: 0;
}